.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.name {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
  font-size: rem(20x);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFAFCC; /* Full white background to resemble a new page */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it appears above other elements */
  padding: 2rem; /* Add padding for spacing */
  color: black;
  font-size: 1.5rem;
}

.modalContent {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: center; /* Center elements vertically */
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image {
  margin-bottom: 1rem; /* Add spacing below the GIF */
  width: 20rem;
  height: auto;
}

.closeButton {
  margin-top: 1rem; /* Add spacing above the button */
  padding: 0.5rem 1rem;
  background-color: #84b4e0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #3e7fbb; /* Darker shade on hover */
}